<!DOCTYPE html>
<html>
<head>
  <title>LukeSimmons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= params[:action] %>">
<nav>
  <div class="nav-links">
    <h1 class="name"><%= link_to 'Luke Simmons', root_path %></h1>
    <%= link_to '#' do %>
      <i class="fa fa-bars hamburger"></i>
    <% end %>
    <div class="nav-menu">
      <ul>
        <li class="all-recipes"><%= link_to 'All recipes', root_path %></li>
        <div class="nav-divider"></div>
        <% category_names(all_categories).each do |category| %>
          <li class="category-link" data-category="<%= category.parameterize %>">
            <a href="/#<%=category.parameterize%>"><%= category %></a>
          </li>
        <% end %>
        <div class="nav-divider"></div>
        <li><%= link_to 'Kitchen tips', tips_path %></li>
        <li><%= link_to 'About me', about_path %></li>
        <% if admin_signed_in? %>
          <div class="nav-divider"></div>
          <li><%= link_to 'New recipe', new_recipe_path %></li>
          <% if recipe_show_page %>
            <li><%= link_to 'Edit recipe', edit_recipe_path(:id => @recipe.id) %></li>
            <li><%= link_to 'Add image', new_recipe_image_path(@recipe) %></li>
            <li><%= link_to 'Delete recipe', recipe_path(@recipe), method: :delete %></li>
          <% end %>
          <div class="nav-divider"></div>
          <li><%= link_to 'Sign out', destroy_admin_session_path, method: :delete %></li>
        <% end %>
    </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
